.skills__container {
    row-gap: 2rem;
}

.skills__subtitle {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-2);
}

.skills__data {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--mb-2);
    margin-bottom: var(--mb-4);
}

.skills__name {
    text-transform: uppercase;
}

.skills__bar {
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-color: var(--second-color-3);
}